<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="mr20">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>OnlineExamSystem</span> 
    <button type="button" class="btn btn-secondary ml20" >Home</button>
    <button type="button" class="btn btn-warning  ml20">About Us</button>
    <span class="example-spacer"></span>
    <button id="basic" type="button" mat-button class="ml20" routerLink="/login">
        Log In
      </button>
      <button id="basic" type="button" mat-button class="ml20" routerLink="/register">
        Register
      </button>
  </mat-toolbar>