<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="mr20">
      <mat-icon>menu_book</mat-icon>
    </button>
    <span>OnlineExamSystem</span> 
    
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-secondary ml20" >Home</button>
    <button type="button" class="btn btn-secondary  ml20 mr20">About Us</button>
    <button type="button" class="btn btn-secondary" routerLink="/login">Log In</button>
    <button type="button" class="btn btn-secondary ml20" routerLink="/register">Register</button>
  </mat-toolbar> -->

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/">
      <mat-icon>menu_book</mat-icon>
    </button>
    <a routerLink="/">OnlineExamSystem</a>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>app_registration</mat-icon>
    </button> -->
    <button mat-flat-button color="primary" routerLink="/">About Us</button>
    <button mat-flat-button color="primary" *ngIf="loginser.isLoggedIn()" (click)="loginser.logout()" routerLink="">LogOut</button>
    <button mat-flat-button color="primary" *ngIf="!loginser.isLoggedIn()" routerLink="/login">Log In</button>
    <button mat-flat-button color="primary" *ngIf="!loginser.isLoggedIn()" routerLink="/register">Register</button>
    
  </mat-toolbar>

  <!-- *ngIf="!logInCheck" -->