<mat-card>
    <h1>Your Profile Details</h1>
    <div class="mat-card-content">
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt=""
                    class="profile-image"
                    >
                    <h1 class="mt20">Admin Title</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center" >
                            <tr>
                                <td>Username</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>Adm123</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>99</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>Active</td>
                            </tr>
                            
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>