<h1>Add Question</h1>
<mat-card>
    <u><h3>Select Category</h3></u>
  <input type="radio" id="java" name="category" value="Java"> 
  <label for="java">Java</label>

  <input type="radio" id="SQL" name="category" value="SQL">
  <label for="SQL">SQL</label>

<input type="radio" id="Python" name="category" value="Python" style="margin: 5px;">
  <label for="SQL">Python</label>

<input type="radio" id="C" name="category" value="C">
  <label for="C">C</label>
</mat-card><br>

<mat-card>
<div class="component text-center" >
<textarea name="" id="" cols="100" rows="10" placeholder="Type Question here"></textarea><br>
<input type="text" placeholder="Option 1" style="margin: 5px;">
<input type="text" placeholder="Option 2"style="margin: 5px;"><br>
<input type="text" placeholder="Option 3" style="margin: 5px;">
<input type="text" placeholder="Option 4" style="margin: 5px;"><br>
<input type="text" placeholder="Answer" style="margin: 5px;"><br>
<button mat-raised-button color="primary" style="margin-top: 15px;">Add</button>
</div>
</mat-card>

