<div class="container">
    <div class="row text-center" >
        <div class="col-md">
        <mat-card style="margin-top: 10px;">
            <h2>Instructions for Online Exam</h2>
            <p>Instruction 1</p>
            <p>Instruction 1</p>
            <p>Instruction 1</p>
            <p>Instruction 1</p>
        </mat-card>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md text-center" style="margin-top: 20px;">
                    <button mat-raised-button color="primary" routerLink="/load-quiz">Start exam</button>
                </div>
            </div>
        </div>
        

    </div>
</div>

