<div class="container">
    <div class="row text-center" >
        <div class="col-md">
        <mat-card style="margin-top: 10px;">
            <div class="ins" >
            <b><u><h2>Instructions for Online Exam</h2></u>
            <p>You must use a functioning webcam and microphone</p>
            <p>No cell phones or other secondary devices in the room or test area</p>
            <p>Your desk/table must be clear or any materials except your test-taking device</p>
            <p>No one else can be in the room with you</p>
            <p>No talking </p>
            <p>The testing room must be well-lit and you must be clearly visible</p>
            <p>No dual screens/monitors</p>
            <p>There are 10 questions</p>
            <p>Each question carries 5 marks. No negative marking for wrong answer</p>
            <p>All questions is of MCQ types</p></b>
            <p>Click <b style="color: blue;"> Start exam </b> button to start the exam</p>
        </div>    
        </mat-card>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md text-center" style="margin-top: 20px;">
                    <button mat-raised-button color="primary" routerLink="/load-quiz">Start exam</button>
                </div>
            </div>
        </div>
        

    </div>
</div>

