<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 15px;">
        <div class="col-md-6 offset-md-3">
            <mat-card>
          <div class="container text-center">
            <img src="../../../assets/logo1.png" alt="" height="120px" width="auto">
          </div>
          <h1 class="text-center">Log In</h1>
          {{ loginData | json }}
          <form action="" class="mx-auto" (ngSubmit)="loginSubmit()">
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Enter Username</mat-label>
              <input [(ngModel)]="loginData.username" name="username" matInput placeholder="Enter Username" required>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="loginData.password" name="password" matInput placeholder="Enter Password" type="password" required>
            </mat-form-field>
  
        <div class="container text-center">
          <button mat-raised-button color="primary">Log In</button>
        </div>
          </form>
        </mat-card>
        </div>
      </div>
    </div>
  </div>