<form action="" style="width: 20rem;" >

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Mobile</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="+91">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">City</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="City">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Qualification</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Qualification">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Year of Completion</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Year">
      </div>
      <button type="button" class="btn btn-success" style="margin-left: 100px;">Register</button>
      


</form>