<!-- <img src="../../../assets/img.jpg" alt="" style="height: 100% ;width:100%"> -->
<div id="welcome" style="height: 82%; width:100%">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div style="margin-top: 200px;">
                    <h1>Welcome</h1>
                    <h1>To</h1>
                    <h1>Online Exam System</h1>
                    <button mat-raised-button color="primary" style="margin: 5px;" routerLink="/register">Register</button>
                    <button mat-raised-button color="primary" style="margin: 5px;" routerLink="/login">Login</button>
                </div>
            </div>
            <div class="col-md-6 text-center" style="margin-top: 35px;">
                <img src="../../../assets/img343.jpg" alt="" style="height: 550px; width: auto; ">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> 