<mat-card>
    <mat-action-list class="text-center">
        <div mat-subheader style="margin-left: 60px; font-size: 20px;" >Menu</div>
        <button mat-raised-button color="primary" routerLink="/admin/" style="margin: 5px; padding-left: 50px; padding-right: 52px;">Home</button><br>
        <!-- <button mat-raised-button color="primary" routerLink="/admin/profile" style="margin: 5px;">Profile</button> -->
        <button mat-raised-button color="primary" routerLink="/admin/add-question" style="margin: 5px; padding-left: 25px; padding-right: 30px;">Add Category</button>
        <button mat-raised-button color="primary" routerLink="/admin/add-question" style="margin: 5px; padding-left: 25px; padding-right: 30px;">Add Question</button>
        <button mat-raised-button color="primary" routerLink="/admin/remove-question" style="margin: 5px;">Remove Question</button>
        <button mat-raised-button color="primary" routerLink="/admin/view-report" style="margin: 5px; padding-left: 20px; padding-right: 40px;">View Reports</button>

    </mat-action-list>
</mat-card>