<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-raised-button color="primary" routerLink="/admin/" style="margin: 5px;">Home</button><br>
        <button mat-raised-button color="primary" routerLink="/admin/profile" style="margin: 5px;">Profile</button>
        <button mat-raised-button color="primary" routerLink="/admin/add-question" style="margin: 5px;">Add Question</button>
        <button mat-raised-button color="primary" routerLink="/admin/remove-question" style="margin: 5px;">Remove Question</button>
        <button mat-raised-button color="primary" routerLink="/admin/view-report" style="margin: 5px;">View Reports</button>

    </mat-action-list>
</mat-card>