<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <div style="margin-top: 20px;">
                    <h1>Welcome to Online Exam Portal</h1>
                    <button mat-raised-button color="primary" routerLink="/report" >Report</button><br>
                    <button mat-raised-button color="primary" routerLink="/new-exam" style="margin-top: 10px;">New Exam</button>
                </div>
            </div>
        </div>
    </div>
</div>