<div class="container">
    <div class="row">
        <div class="text-center quiz">
        <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/java-logo.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <a href="#" class="btn btn-primary" routerLink="/start-exam" (click)="javaSelect()">Java</a>
            </div>
          </div>
          <div class="card" style=" width: 18rem;">
            <img src="../../../../../assets/sql-logo2.jpg" height="204px" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <a href="#" class="btn btn-primary" style="padding-left: 20px; padding-right:20px; " routerLink="/start-exam" (click)="sqlSelect()">SQL</a> 
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/Python-Symbol.png" height="204px" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <a href="#" class="btn btn-primary" routerLink="/start-exam" (click)="pythonSelect()">Python</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../../../../assets/c-logo.jpeg" height="204px" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <a href="#" class="btn btn-primary" style="padding-left:30px; padding-right: 30px;" routerLink="/start-exam" (click)="cSelect()">C</a>
            </div>
          </div>
        </div>
    </div>
</div>